body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
.navbar {
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #000;
}
.form_select {
    margin: 10px;
}
.btn {
    margin: 5px;
}
input {
    margin: 5px;
    padding-left: 5px;
    border: 1px solid #000;
    border-radius: 5px;
}
select {
    margin: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 10px;
}
p {
    margin: 5px 10px 5px 6px;
}
main {
    padding-bottom: 90px;
}

